<div class="left w-1/2 h-full flex items-center justify-center shrink-0">
  <mat-form-field appearance="outline" class="w-[300px]">
    <mat-label>Search for an address, place, or coordinates</mat-label>
    <input
      matInput
      type="text"
      [formControl]="searchControl"
      [matAutocomplete]="auto"
      placeholder="Enter an address or coordinates"
    />
    @if (isLoading()) {
      <mat-spinner matSuffix diameter="20" class="mr-4"></mat-spinner>
    } @else {
      <mat-icon matSuffix>search</mat-icon>
    }

    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      @for (option of options(); track option.label) {
        <mat-option [value]="option" (onSelectionChange)="onSelectLocation(option)">
          <div class="flex flex-col">
            <span class="font-medium">{{ option.label }}</span>
            <span class="text-xs text-gray-500">{{ option.context }}</span>
          </div>
        </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>

</div>
<div class="right w-1/2 h-full relative shrink-0">
  <mgl-map
    class="absolute inset-0"
    [style]="mapStyle()"
    [center]="center()"
    [zoom]="[zoom()]"
    [canvasContextAttributes]="{preserveDrawingBuffer:false}"
    (mapLoad)="map.set($event)"
    (mapClick)="handleSelectParcelle($event)"
  >
    <mgl-control mglNavigation position="top-right" [showCompass]="false"/>
    <mgl-control mglGeolocate position="top-right" />

    <!-- User Location Marker -->
    @if (userLocation()) {
      <mgl-marker [lngLat]="userLocation()!">
        <div class="w-4 h-4 bg-blue-500 rounded-full border-2 border-white shadow-lg"></div>
      </mgl-marker>
    }

    <mgl-layer
      id="parcelles-fill"
      type="fill"
      source="cadastre"
      (layerMouseEnter)="cursor.set('pointer')"
      (layerMouseMove)="onHover($event)"
      (layerMouseLeave)="onLeave()"
      (layerClick)="handleSelectParcelle($event)"
    />
  </mgl-map>
</div>
