<mgl-map
  class="w-full h-full"
  [style]="mapStyle"
  [zoom]="[6]"
  [center]="[2.213749, 46.227638]"
  [canvasContextAttributes]="{preserveDrawingBuffer: false}"
  [cursorStyle]="cursor()"
  (mapLoad)="map.set($event)"
  (mapClick)="handleSelectParcelle($event)"
>
  <mgl-control mglNavigation [showCompass]="false" />
  <mgl-control mglGeolocate />

  @if (displayPopup()) {
    <mgl-popup
      [lngLat]="[hoveredInfo()!.longitude, hoveredInfo()!.latitude]"
    >
      <div class="text-sm">
        <div>
          <span class="font-bold">Parcelle</span>
          <span>&nbsp;{{hoveredInfo()?.feature.properties?.numero}}</span>
        </div>
      </div>
    </mgl-popup>
  }

  <mgl-layer
    id="parcelles-fill"
    type="fill"
    source="cadastre"
    (layerMouseEnter)="cursor.set('pointer')"
    (layerMouseMove)="onHover($event)"
    (layerMouseLeave)="onLeave()"
    (layerClick)="handleSelectParcelle($event)"
  />

<!--  <mgl-control position="top-left">-->
<!--    <div class="search-input bg-[var(&#45;&#45;mat-sys-surface-container)] rounded shadow w-sm">-->
<!--      <mat-form-field class="w-full"  [appearance]="'outline'" [subscriptSizing]="'dynamic'">-->
<!--        <input type="text" [placeholder]="placeholder()" matInput [formControl]="query" [matAutocomplete]="auto" />-->
<!--        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayWith" (optionSelected)="handleSelection($event)">-->
<!--          @for (address of result(); track address.properties?.id) {-->
<!--            <mat-option [value]="address">-->
<!--              <span>{{address.properties?.label}}</span>-->
<!--              <br><small>{{address.properties?.context}}</small>-->
<!--            </mat-option>-->
<!--          }-->
<!--        </mat-autocomplete>-->
<!--      </mat-form-field>-->
<!--    </div>-->
<!--  </mgl-control>-->
</mgl-map>

